*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background-image: url(./images/bg-desktop.png);
    background-repeat: no-repeat;
    background-color: hsl(229, 57%, 11%);
    background-position: bottom;
    background-size: contain;
    font-family: 'Times New Roman', Times, serif
}
.fst-box {
    width: 60%;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);  
    }
 .fst-box > * {
        background-color:darkblue;
    }
.fylo {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex: 1;
    border-radius: 1rem 6rem 1rem 1rem;
    padding: 3rem;
}
.logo {
    align-self: flex-start;
}
.icons {
    display: flex;
    gap: 1rem;
}
.icon {
    border-radius: 1rem;
    background-color: hsl(229, 57%, 11%);
    min-height: 42px;
    min-width: 42px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    align-items: center;
    justify-items: center;
}
legend {
    display: flex;
    justify-content: space-between;
}
.snd-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    align-self: flex-end;
    gap: 1rem;
    flex: 2;
    position: relative;
    border-radius: 1rem;
    padding: 3rem;
}
.right-top-box{
    width: 175px;
    height: 65px;
    border-radius: 0.75rem;
    padding: 0.5rem;
    position: absolute;
    top: -50px;
    right: 3rem;
    background-color: white;
}
.right-top-box >p{
    text-align: center;
    color: hsl(229, 57%, 11%); 
}
.right-top-box ::after {
    content: '';
    position: absolute;
    border-bottom: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid white;
    border-top: 20px solid white;
    top: 60px;
    right: 0;
}
span {
    font-weight: 700;
    font-size: 40px;
}
meter {
    border-radius: 11px;
    height: 21px;
    width: auto;
}
label, p{
    color: hsl(243, 100%, 93%);;
}
@media screen and (width <= 900px){

    .fst-box {
        width: 90%;
        flex-wrap: wrap;
    }
    .fylo, .snd-box {
        flex: 0;
        min-width: 250px;
    } 
    .right-top-box ::after {
        content: none;
    }
    .right-top-box {
        top: 90%;
        right: 20%;
    }
}

@media screen and (width <= 700px) {
    body {
        background-image: url(./images/bg-mobile.png);
        background-size: cover;
    }
    .fst-box {
        top: 45%;
    }   
    
}
       








